input{
    padding: 8px;
    border: none;
    width: 270px;
    outline: none;
    gap: 4px;
}
  
  @media (max-width: 767px) {
    .responsive-sidebar {
      display: none;
    }
    .responsive-full {
      display: block;
      width: 100%;
    }
  }
  